html, body
{
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

.main
{
	padding: 0;
	margin: 0;
}

.sideMenu
{
	width: 170px;
}

.sideMenuLogo 
{
	background-image:  url('./images/Logo.svg');
	background-size: cover;
	overflow: hidden;
	height: 28px;
	width: 158px;
	margin: 5px;
}

.sideMenuTree
{
	margin: 5px;
}

.topMenu
{
	padding: 0;
	margin: 0;
}

.topToolBar
{
	padding: 0;
	margin: 0;
}

.status
{
	padding: 0;
	margin: 0;
}

.workspace
{
	padding: 0;
	margin: 0;
}

.login th, td
{
	padding: 5px;
	margin: 0;
}

.dgrid-row 
{
	height: 22px;
}

.dgrid-grid
{
	height: 100%;
	width: 100%;
}

 .dgrid-cell {
    width: 80px;
 }
 
.tableContainer-labelCell
{
	padding: 5px 0px 0px 5px;
	margin: 0;
}

.dijitNumberTextBox input.dijitInputInner,
.dijitCurrencyTextBox input.dijitInputInner,
.dijitSpinner input.dijitInputInner 
{
	text-align: left;
}
