html, body
{
    height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

.dgrid-row 
{
    height: 22px;
}

.dgrid
{
	height: 100%;
	width: 100%;
}

.searchIcon 
{
  background-image:  url('./images/Search.svg');
  background-size: 24px 24px;
  height: 24px;
  width: 24px;
}

.refreshIcon 
{
  background-image:  url('./images/Refresh.svg');
  background-size: 24px 24px;
  height: 24px;
  width: 24px;
}

.saveIcon 
{
  background-image:  url('./images/Save.svg');
  background-size: 24px 24px;
  height: 24px;
  width: 24px;
}

.disableIcon
{
  filter: url('./images/GrayScale.svg#grayscale');
  opacity: 0.5;
}

.nextPageIcon 
{
  background-image:  url('./images/NextPage.svg');
  background-size: 24px 24px;
  height: 24px;
  width: 24px;
}

.previousPageIcon 
{
  background-image:  url('./images/PreviousPage.svg');
  background-size: 24px 24px;
  height: 24px;
  width: 24px;
}