.mediumEditIcon 
{
  background-repeat: no-repeat;
  background-image:  url('./images/EditItem.svg');
  background-size: 20px 20px;
  height: 20px;
  width: 20px;
}

.smallEditIcon 
{
  background-repeat: no-repeat;
  background-image:  url('./images/EditItem.svg');
  background-size: 16px 16px;
  height: 16px;
  width: 16px;
}

.mediumCheckMarkIcon 
{
  background-repeat: no-repeat;
  background-image:  url('./images/CheckMark.svg');
  background-size: 20px 20px;
  height: 20px;
  width: 20px;
}

.smallCheckMarkIcon 
{
  background-repeat: no-repeat;
  background-image:  url('./images/CheckMark.svg');
  background-size: 16px 16px;
  height: 16px;
  width: 16px;
}

.mediumSearchIcon 
{
  background-repeat: no-repeat;
  background-image:  url('./images/Search.svg');
  background-size: 20px 20px;
  height: 20px;
  width: 20px;
}

.smallSearchIcon 
{
  background-repeat: no-repeat;
  background-image:  url('./images/Search.svg');
  background-size: 16px 16px;
  height: 16px;
  width: 16px;
}

.mediumAddFilterIcon 
{
  background-repeat: no-repeat;
  background-image:  url('./images/AddSearchCriteria.svg');
  background-size: 20px 20px;
  height: 20px;
  width: 20px;
}

.smallAddFilterIcon 
{
  background-repeat: no-repeat;
  background-image:  url('./images/AddSearchCriteria.svg');
  background-size: 16px 16px;
  height: 16px;
  width: 16px;
}

.mediumClearFilterIcon 
{
  background-repeat: no-repeat;
  background-image:  url('./images/ClearSearchCriteria.svg');
  background-size: 20px 20px;
  height: 20px;
  width: 20px;
}

.smallClearFilterIcon 
{
  background-repeat: no-repeat;
  background-image:  url('./images/ClearSearchCriteria.svg');
  background-size: 16px 16px;
  height: 16px;
  width: 16px;
}

.mediumRefreshIcon 
{
  background-repeat: no-repeat;
  background-image:  url('./images/Refresh.svg');
  background-size: 20px 20px;
  height: 20px;
  width: 20px;
}

.smallRefreshIcon 
{
  background-repeat: no-repeat;
  background-image:  url('./images/Refresh.svg');
  background-size: 16px 16px;
  height: 16px;
  width: 16px;
}

.mediumSaveIcon 
{
  background-repeat: no-repeat;
  background-image:  url('./images/Save.svg');
  background-size: 20px 20px;
  height: 20px;
  width: 20px;
}

.smallSaveIcon 
{
  background-repeat: no-repeat;
  background-image:  url('./images/Save.svg');
  background-size: 16px 16px;
  height: 16px;
  width: 16px;
}

.mediumSaveUnlockIcon 
{
  background-repeat: no-repeat;
  background-image:  url('./images/SaveUnlockClose.svg');
  background-size: 20px 20px;
  height: 20px;
  width: 20px;
}

.smallSaveUnlockIcon 
{
  background-repeat: no-repeat;
  background-image:  url('./images/SaveUnlockClose.svg');
  background-size: 16px 16px;
  height: 16px;
  width: 16px;
}

.disableIcon
{
  filter: url('./images/GrayScale.svg#grayscale');
  opacity: 0.5;
}

.mediumNextPageIcon 
{
  background-repeat: no-repeat;
  background-image:  url('./images/NextPage.svg');
  background-size: 20px 20px;
  height: 20px;
  width: 20px;
}

.smallNextPageIcon 
{
  background-repeat: no-repeat;
  background-image:  url('./images/NextPage.svg');
  background-size: 16px 16px;
  height: 16px;
  width: 16px;
}

.mediumPreviousPageIcon 
{
  background-repeat: no-repeat;
  background-image:  url('./images/PreviousPage.svg');
  background-size: 20px 20px;
  height: 20px;
  width: 20px;
}

.smallPreviousPageIcon 
{
  background-repeat: no-repeat;
  background-image:  url('./images/PreviousPage.svg');
  background-size: 16px 16px;
  height: 16px;
  width: 16px;
}

.mediumCollapseAllIcon 
{
  background-repeat: no-repeat;
  background-image:  url('./images/CollapseAll.svg');
  background-size: 20px 20px;
  height: 20px;
  width: 20px;
}

.smallCollapseAllIcon 
{
  background-repeat: no-repeat;
  background-image:  url('./images/CollapseAll.svg');
  background-size: 16px 16px;
  height: 16px;
  width: 16px;
}

.mediumExpandAllIcon 
{
  background-repeat: no-repeat;
  background-image:  url('./images/ExpandAll.svg');
  background-size: 20px 20px;
  height: 20px;
  width: 20px;
}

.smallExpandAllIcon 
{
  background-repeat: no-repeat;
  background-image:  url('./images/ExpandAll.svg');
  background-size: 16px 16px;
  height: 16px;
  width: 16px;
}

.mediumPartIcon 
{
  background-repeat: no-repeat;
  background-image:  url('./images/Part.svg');
  background-size: 20px 20px;
  height: 20px;
  width: 20px;
}

.smallPartIcon 
{
  background-repeat: no-repeat;
  background-image:  url('./images/Part.svg');
  background-size: 16px 16px;
  height: 16px;
  width: 16px;
}

.mediumCopyIcon 
{
  background-repeat: no-repeat;
  background-image:  url('./images/Copy.svg');
  background-size: 20px 20px;
  height: 20px;
  width: 20px;
}

.smallCopyIcon 
{
  background-repeat: no-repeat;
  background-image:  url('./images/Copy.svg');
  background-size: 16px 16px;
  height: 16px;
  width: 16px;
}

.mediumCutIcon 
{
  background-repeat: no-repeat;
  background-image:  url('./images/Cut.svg');
  background-size: 20px 20px;
  height: 20px;
  width: 20px;
}

.smallCutIcon 
{
  background-repeat: no-repeat;
  background-image:  url('./images/Cut.svg');
  background-size: 16px 16px;
  height: 16px;
  width: 16px;
}

.mediumPasteIcon 
{
  background-repeat: no-repeat;
  background-image:  url('./images/Paste.svg');
  background-size: 20px 20px;
  height: 20px;
  width: 20px;
}

.smallPasteIcon 
{
  background-repeat: no-repeat;
  background-image:  url('./images/Paste.svg');
  background-size: 16px 16px;
  height: 16px;
  width: 16px;
}

.mediumDeleteIcon 
{
  background-repeat: no-repeat;
  background-image:  url('./images/Delete.svg');
  background-size: 20px 20px;
  height: 20px;
  width: 20px;
}

.smallDeleteIcon 
{
  background-repeat: no-repeat;
  background-image:  url('./images/Delete.svg');
  background-size: 16px 16px;
  height: 16px;
  width: 16px;
}

.mediumArrowRightIcon 
{
  background-repeat: no-repeat;
  background-image:  url('./images/ArrowRight.svg');
  background-size: 20px 20px;
  height: 20px;
  width: 20px;
}

.smallArrowRightIcon 
{
  background-repeat: no-repeat;
  background-image:  url('./images/ArrowRight.svg');
  background-size: 16px 16px;
  height: 16px;
  width: 16px;
}

.mediumArrowLeftIcon 
{
  background-repeat: no-repeat;
  background-image:  url('./images/ArrowLeft.svg');
  background-size: 20px 20px;
  height: 20px;
  width: 20px;
}

.smallArrowLeftIcon 
{
  background-repeat: no-repeat;
  background-image:  url('./images/ArrowLeft.svg');
  background-size: 16px 16px;
  height: 16px;
  width: 16px;
}

.mediumUndoIcon 
{
  background-repeat: no-repeat;
  background-image:  url('./images/Undo.svg');
  background-size: 20px 20px;
  height: 20px;
  width: 20px;
}

.smallUndoIcon 
{
  background-repeat: no-repeat;
  background-image:  url('./images/Undo.svg');
  background-size: 16px 16px;
  height: 16px;
  width: 16px;
}

.mediumNewIcon 
{
  background-repeat: no-repeat;
  background-image:  url('./images/New.svg');
  background-size: 20px 20px;
  height: 20px;
  width: 20px;
}

.smallNewIcon 
{
  background-repeat: no-repeat;
  background-image:  url('./images/New.svg');
  background-size: 16px 16px;
  height: 16px;
  width: 16px;
}

.mediumCompileIcon 
{
  background-repeat: no-repeat;
  background-image:  url('./images/Compile.svg');
  background-size: 20px 20px;
  height: 20px;
  width: 20px;
}

.smallCompileIcon 
{
  background-repeat: no-repeat;
  background-image:  url('./images/Compile.svg');
  background-size: 16px 16px;
  height: 16px;
  width: 16px;
}

.mediumPartFamilyIcon 
{
  background-repeat: no-repeat;
  background-image:  url('./images/PartFamily.svg');
  background-size: 20px 20px;
  height: 20px;
  width: 20px;
}

.smallPartFamilyIcon 
{
  background-repeat: no-repeat;
  background-image:  url('./images/PartFamily.svg');
  background-size: 16px 16px;
  height: 16px;
  width: 16px;
}

.mediumErrorIcon 
{
  background-repeat: no-repeat;
  background-image:  url('./images/Error.svg');
  background-size: 20px 20px;
  height: 20px;
  width: 20px;
}

.smallErrorIcon 
{
  background-repeat: no-repeat;
  background-image:  url('./images/Error.svg');
  background-size: 16px 16px;
  height: 16px;
  width: 16px;
}

.mediumProjectIcon 
{
  background-repeat: no-repeat;
  background-image:  url('./images/Project.svg');
  background-size: 20px 20px;
  height: 20px;
  width: 20px;
}

.smallProjectIcon 
{
  background-repeat: no-repeat;
  background-image:  url('./images/Project.svg');
  background-size: 16px 16px;
  height: 16px;
  width: 16px;
}

.mediumLoginIcon 
{
  background-repeat: no-repeat;
  background-image:  url('./images/Login.png');
  background-size: 20px 20px;
  height: 20px;
  width: 20px;
}

.smallLoginIcon 
{
  background-repeat: no-repeat;
  background-image:  url('./images/Login.png');
  background-size: 16px 16px;
  height: 16px;
  width: 16px;
}

.mediumLogoutIcon 
{
  background-repeat: no-repeat;
  background-image:  url('./images/Logout.svg');
  background-size: 20px 20px;
  height: 20px;
  width: 20px;
}

.smallLogoutIcon 
{
  background-repeat: no-repeat;
  background-image:  url('./images/Logout.svg');
  background-size: 16px 16px;
  height: 16px;
  width: 16px;
}