html, body
{
    height: 100%;
	width: 100%;
}

.dgrid-row 
{
    height: 22px;
}

.searchIcon 
{
  background-image:  url('./images/ExecuteSearch.svg');
  background-size: 24px 24px;
  height: 24px;
  width: 24px;
}