@import '../../../dojo/resources/dojo.css';
@import '../../../dgrid/css/dgrid.css';
@import '../../../dijit/themes/tundra/tundra.css';
@import '../../../dgrid/css/skins/tundra.css';
@import '../icons.css';
@import '../base.css';

.dgrid-row-odd 
{
    background: #F2F5F9;
}

.tundra .dijitDialogPaneContent 
{
	padding: 0px;
}

.tundra .dijitTextBoxReadOnly
{
	background:#fff url("../../../dijit/themes/tundra/images/validationInputBg.png") repeat-x top left;
}